$ cat .gitignore

# Can ignore specific files
.settings.xml
docker-compose.yml

.idea
.vscode
.history
# Use wildcards as well
*~
#*.swp

node_modules
node_modules/**/*

package-lock.json

*.tingo
*.rdb
